<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" default-autowire="byName">

	<bean class="com.meidusa.venus.spring.VenusPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>

	<!--应用配置-->
	<bean id="application" class="com.meidusa.venus.Application">
		<property name="name" value="${application.name}"/>
	</bean>

	<!--注册配置-->
	<bean id="venusRegistryFactory" class="com.meidusa.venus.registry.VenusRegistryFactory">
		<property name="registerUrl" value="${register.registerUrl}"/>
	</bean>

	<!--venus bus协议配置-->
	<bean id="busProtocol" class="com.meidusa.venus.bus.BusProtocol" init-method="init">
		<property name="port" value="${venus.protocol.port}"/>
		<property name="messageHandler" ref="messageHandler"/>
	</bean>

	<!--接收消息处理-->
	<bean id="messageHandler" class="com.meidusa.venus.bus.handler.BusReceiveMessageHandler"/>

	<!--Acceptor-->
	<!--
	<bean id="acceptor" class="com.meidusa.venus.bus.VenusConnectionAcceptor" init-method="start" destroy-method="shutdown">
		<property name="name" value="Service socket Server"/>
		<property name="port" value="${venus.server.binding.port}"/>
		<property name="processors" ref="connectionManagerFactoryBean"/>
		<property name="connectionFactory" ref="busFrontendConnectionFactory"/>
		<property name="observer" ref="clientConnectionObserver"/>
	</bean>
	-->

	<!--连接工厂管理配置-->
	<!--
	<bean name="connectionManagerFactoryBean" class="com.meidusa.venus.bus.ConnectionManagerFactoryBean">
		<property name="executorSize"><value>-1</value></property>
		<property name="singleton"><value>false</value></property>
		<property name="size"><value>${venus.reactor.size}</value></property>
	</bean>
	-->

	<!--连接工厂配置-->
	<!--
	<bean id="busFrontendConnectionFactory" class="com.meidusa.venus.bus.network.BusFrontendConnectionFactory">
		<property name="writeQueueCapcity" value="${venus.socket.writeQueueCapcity}"/>
		<property name="sendBufferSize" value="${venus.socket.sendBufferSize}"/>
		<property name="receiveBufferSize" value="${venus.socket.receiveBufferSize}"/>
		<property name="messageHandler" ref="messageHandler"/>
	</bean>

	<bean id="clientConnectionObserver" class="com.meidusa.venus.bus.handler.ClientConnectionObserver"/>

	<bean id="messageHandler" class="com.meidusa.venus.bus.handler.BusReceiveMessageHandler">
		<property name="venusRegistryFactory" ref="venusRegistryFactory"/>
	</bean>
	-->

</beans>
