<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p"
	default-autowire="byName">
	
	<!-- import server side spring context file -->
	<context:component-scan base-package="com.chexiang.*" />
	<context:component-scan base-package="com.saic.framework.*" />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:application.properties</value>
			</list>
		</property>
	</bean>

	<bean id="helloService" class="com.chexiang.venus.demo.provider.impl.DefaultHelloService"/>

	<import resource="classpath:/spring/applicationContext-service-container.xml"/>

	<!--
	<import resource="file:${project.home:.}/conf/applicationContext-communication-client.xml"/>
	-->
	<!--应用配置-->
	<bean class="com.meidusa.venus.client.Application">
		<property name="name" value="${application.name}"/>
	</bean>

	<!--注册配置-->
	<bean id="venusRegistryFactory" class="com.meidusa.venus.client.VenusRegistryFactory">
		<property name="url" value="${register.url}"/>
		<property name="connectUrl" value="${register.connectUrl}"/>
	</bean>

	<!--监控配置-->
	<bean id="venusMonitorFactory" class="com.meidusa.venus.client.VenusMonitorFactory">
		<property name="url" value="${monitor.url}"/>
	</bean>

	<!--服务发布配置-->
    <bean id="serviceManager" class="com.meidusa.venus.backend.services.xml.XmlFileServiceManager">
        <property name="configFiles">
            <list>
                <value>classpath:/conf/hello-venus-server.xml</value>
            </list>
        </property>
    </bean>

    <bean id="authenticateProvider" class="com.meidusa.venus.backend.authenticate.SimpleAuthenticateProvider">
    	<property name="useDummy" value="true" />
		<property name="username" value="111" />
		<property name="password" value="111" />
    </bean>

    <bean id="venusExceptionFactory" class="com.meidusa.venus.exception.XmlVenusExceptionFactory" init-method="init">
		<property name="configFiles">
			<list>
				<value>classpath:com/meidusa/venus/exception/VenusSystemException.xml</value>
			</list>
		</property>
	</bean>

</beans>
